

#sha-button_list {
    margin-top: 10px;
}

#sha-button_list ul {
    padding: 0;
}

#sha-button_list ul li {
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0;
}

#sha-button_list ul li:first-child{
    margin-left: -5px;
}

#sha-button_list ul li span {
    display:  inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 15px;
}

#sha-button_list ul li.off span {
    color: rgba(49,69,106,0.35);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.0);
}

#sha-button_list ul li.on span {
    color: rgba(49,69,106,1);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0 rgba(255,255,255,1),
                0.5px 0.5px 0 rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
}
